body {
    margin: 0%;
    background-color: darkgray;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h2, h3, h4, h5, p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(44, 44, 44);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar a:hover{
    background-color: rgb(9, 9, 9);
}

.navbar li{
    float: left;
}